# {{ ansible_managed }}
# Proxmox VE Test Repository
# Last modified: {{ ansible_date_time.iso8601 }}
#
# Note: This repository contains test updates that are not yet ready for production.
# Warning: Test packages may be unstable and could potentially break your system.
# Use with caution in development/testing environments only.
# For more information, visit: https://pve.proxmox.com/wiki/Package_Repositories

{% if proxmox_repositories.pve.test %}
deb http://download.proxmox.com/debian/pve {{ ansible_distribution_release }} pvetest
{% else %}
# Repository disabled: Test repository not enabled.
# To enable, set proxmox_repositories.pve.test to true.
# deb http://download.proxmox.com/debian/pve {{ ansible_distribution_release }} pvetest
{% endif %} 
