ini
[defaults]
inventory = ./inventory
roles_path = ./roles:~/.ansible/roles
vault_password_file = .vault_pass
host_key_checking = False
retry_files_enabled = False
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .cache/facts
fact_caching_timeout = 7200
nocows = True
interpreter_python = auto_silent
callback_whitelist = profile_tasks
stdout_callback = yaml
display_skipped_hosts = False
deprecation_warnings = False
command_warnings = False

[ssh_connection]
pipelining = True
control_path = %(directory)s/%%h-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[diff]
always = True
context = 3
